header{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 70px;
  background: #063247;
  box-shadow: 0px 2px 8px #F0F1F2;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  color:white;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  img{
    margin-right: 50px;
    height: 30px;
    border-radius: 100%;
  }
  .title{
    margin-left: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
   
    
    span{
      font-weight: lighter;
    }
  }
  nav{
    ul{
      li{
        display: inline-block;
        a{color: white;
          display: block;
          padding: 0 15px;
          
          transition: .5s;
          &:hover{
            color: #23dbdb;
          }
          &.active{
            color: #23dbdb;
          }
        }
      }
    }
    
  }
 
}
